<div class="row">
    <div class="col">
        <br />
        <h3><u>About Us</u></h3>
        NS Tech Solutions is a leading IT staffing and services firm that assists fortune companies and public sector
        organizations in the design and implementation of projects and that optimize IT investment

        NS Tech Solutions is headquartered in Bloomington, IL.

        Customers Focus - Our customers benefit from the talent and dedication of our professionals. NS Tech Solutions
        delivers to its clients a comprehensive line of Onsite/Offsite software services ranging from solutions
        development to staff augmentation.

        Mission Statement - “you think….. IT happens”
        <p></p>
        <p>
            <b>Corporate Culture</b>
            Our Company philosophy has evolved from our internal experiences that "people make the difference". We
            realize that our employees are a major reason for our success, and that they will play a large part in our
            future growth and competitiveness. As a result we make a total commitment to:

            Hiring Qualified People Encouraging Individual and Professional Growth
            Compensating Competitively
            Encouraging Employee Involvement in Decisions
        </p>
        <p>
            <b>Corporate Values</b>

            <b>Professionalism: </b>Adherence to professional standards permeates all aspects of our business. We are dedicated
            to maintaining and improving the quality of our products and services and to resisting competitive and other
            pressures to compromise our principles and standards.
            <p></p>
            <b>Integrity: </b>We insist upon integrity throughout our organization. We are open, honest and fair in our
            dealings with clients, vendors, employees and others. We reflect these values in our jobs and whenever we represent
            ourselves and the Company.
            <p></p>
            <b>Ethics: </b>We emphasize ethics in our organization, and we recognize that it is difficult to establish rules
            for every condition. We expect our employees to exercise good judgment in their conduct.
            <p></p>
            <b>Quality: </b>Our policies and procedures are designed to fulfill our commitment to quality. We properly plan and
            execute engagements and make decisions based on substance, not on form. We require that our services be
            performed by employees with the appropriate degree of technical training and proficiency.
            <p></p>
            <b>Teamwork: </b>The strength of our Company is its people, working together with a common purpose. Teamwork helps
            all segments of our organization and strengthens our entire company, all of our employees, and the jobs that
            they perform.
        </p>
        <br /><br />
    </div>
</div>