<div class="row justify-content-start">
    <div class="col-4">
        <br /><br />
        <img src="../images/consultancy-guide.jpg" class="img-fluid"><br />
        <b>NS Tech Solutions, Inc.,</b> is a software development and IT consulting services firm that provides cost effective software development work
        and client specific IT consulting services for its clients in USA.
    </div>
    <div class="col-8">
        <br />
        <p>
            <h5>IT Solution Services</h5>
            Our corporate goal has never been to deliver just services - it has been to deliver success.
            See how the NS Tech Solutions Partners team can help you with the Enterprise Solutions. We collaborate with our technology partners to develop the products
            <a href="#/solutions">More...</a>
        </p>
        <p>
            <h5>IT Staffing Services</h5>
            At NS Tech Solutions, recruiting IT Professionals for your organization begins even before you contact us. By staying on top of the trends that affect our industry, we continuously enhance our selection process to ensure we recruit the very best. Our commitment to you: provide the right candidate the first time in order to maximize your staffing investment.
            <a href="#/staffing">More...</a>
        </p>
        <p>
            <h5>Career opportunities</h5>
            At NS Tech Solutions, we offer much more than just a job, we strive to get you a promising career. What career means to us is we help you learn and grow continuously by offering challenging assignments, a world class working environment, opportunities to work on the latest technology and with some of the finest minds in the industry.
            <a href="#/careers">More...</a>
        </p>
        <br />
        <br />
    </div>
</div>