<div class="row">
    <div class="col">
        <br /><br />
        <p>
            Please read this Privacy Policy and the Legal Notice before using this website. By using this website you
            agree to the policy.
        </p>
        <p>
            NS Tech Solutions has created this privacy statement in order to demonstrate our firm commitment to privacy.
            The following discloses our information gathering and dissemination practices for this website.
            This website contains links to other sites. NS Tech Solutions is not responsible for the privacy practices
            or the contents of such other websites.
        </p>
        <p>
            <b>Contacting NS Tech Solutions Inc</b>
        </p>
        <p>
            If you have any questions about this Privacy Policy, the practices of this web site, or your dealings with
            this website, please contact NS Tech Solutions Inc.
        </p>
        <br /><br />
    </div>
</div>