<div class="row">
    <div class="col">
        <br />
        <h3><u>Our Partners</u></h3>
        <br />
        <p>NS Tech Solutions Inc., is committed to building relationship with best in class Information Technology
            solution providers whose products and services complement our own service offerings. We align ourselves with
            technology leaders through our resourses, which give us the ability to provide you with complete solutions
            to your IT challenges.</p>
        <div class="accordion" id="partners-accordian">
            <div class="accordion-item">
                <h2 class="accordion-header ">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseMicrosoft" aria-expanded="false" aria-controls="collapseMicrosoft">
                        <img src="images/microsoft-logo.gif" alt="Microsoft"/>
                    </button>
                </h2>
                <div id="collapseMicrosoft" class="accordion-collapse collapse show" data-bs-parent="#partners-accordian">
                    <div class="accordion-body">
                        NS Tech Solutions is qualified to respond to your business needs effectively and provide the
                        best solution to your specific situation. This partnership gives us a thorough understanding of
                        Microsoft products and their implementation and thus enables us to help our customers in meeting
                        their specific requirements. <a href="https://www.microsoft.com"
                            target="_blank">www.microsoft.com</a>
                        <p>NS Tech Solutions has converted VB based systems to .NET architecture for its clients</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseLotusNotes" aria-expanded="false" aria-controls="collapseLotusNotes">
                        <img src="images/lotusnotes-logo.gif" alt="Lotus Notes"/>
                    </button>
                </h2>
                <div id="collapseLotusNotes" class="accordion-collapse collapse" data-bs-parent="#partners-accordian">
                    <div class="accordion-body">
                        <span>
                            NS Tech Solutions has on its staff a number of Certified Lotus professionals each of whom
                            have years of experience in developing solutions using the Notes and Domino platforms.
                            The Cubes Technologies Lotus Domino team provides a full range of services: design,
                            development, integration, implementation, support, maintenance and training. Our
                            professionals have helped dozens of organizations to reinvent how they share and distribute
                            information.

                            <p>Today we are involved in Lotus Notes and Domino projects and implementations helping our
                                clients extract its full benefit. Working either as part of client implementation teams
                                as the sole integrator, or providing complete offsite application development services,
                                NS Tech Solutions can help your company get the most value out of Lotus Notes and Domino
                                tools. <a href="https://www.lotus.com" target="_blank">www.lotus.com</a></p>
                        </span>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOracle" aria-expanded="false" aria-controls="collapseOracle">
                        <img src="images/oracle-logo.gif" alt="ORACLE"/>
                    </button>
                </h2>
                <div id="collapseOracle" class="accordion-collapse collapse" data-bs-parent="#partners-accordian">
                    <div class="accordion-body">
                        As an Oracle Partners Program member, Cubes Technologies has access to Oracle's latest software
                        releases, technical resources and training
                        <p>The combination of Cubes Technologies solutions and systems expertise and Oracle’s technology
                            broadens opportunities to deliver innovative technical solutions to customers at a fair
                            price. Cubes Technologies is one of very few Oracle Partnership Program members employing
                            the on-site/offsite methodology for executing data warehousing applications.</p>
                        <p>Building and deploying a successful data warehouse requires best-of-breed technology,
                            components and the experience to make them all work together. <a
                                href="https://www.oracle.com" target="_blank">www.oracle.com</a></p>

                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseIbm" aria-expanded="false" aria-controls="collapseIbm">
                        <img src="images/ibm-logo.gif" alt="IBM"/>
                    </button>
                </h2>
                <div id="collapseIbm" class="accordion-collapse collapse" data-bs-parent="#partners-accordian">
                    <div class="accordion-body">
                        IBM strives to lead in the creation, development and manufacture of the industry's most advanced information technologies, including computer systems, software, networking systems, storage devices and microelectronics. Their worldwide network of IBM solutions and services professionals translates these advanced technologies into business value for their customers. Being an IBM Partner allows us to provide business solutions to our customers with the latest IBM products. <a
                        href="https://www.ibm.com" target="_blank">www.ibm.com</a>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseCognos" aria-expanded="false" aria-controls="collapseCognos">
                        <img src="images/cognos-logo.gif" alt="COGNOS"/>
                    </button>
                </h2>
                <div id="collapseCognos" class="accordion-collapse collapse" data-bs-parent="#partners-accordian">
                    <div class="accordion-body">
                        A leader in business intelligence (BI) and performance planning software for the enterprise. Solutions let companies improve and direct corporate performance by enabling all of the key steps in the management cycle—from planning and budgeting, to measuring and monitoring performance, to reporting and analysis. <a
                        href="https://www.cognos.com" target="_blank">www.cognos.com</a>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseInformatica" aria-expanded="false" aria-controls="collapseInformatica">
                        <img src="images/informatica-logo.gif" alt="INFORMATICA"/>
                    </button>
                </h2>
                <div id="collapseInformatica" class="accordion-collapse collapse" data-bs-parent="#partners-accordian">
                    <div class="accordion-body">
                        Informatica Corp. is a market-leading provider of e-Business analytic software that enables companies to leverage business insight for competitive advantage. Informatica offerings include a comprehensive family of analytic applications, the industry's most powerful data integration platform, and a wide range of supporting services and partnerships. <a
                        href="https://www.informatica.com" target="_blank">www.informatica.com</a>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseSas" aria-expanded="false" aria-controls="collapseSas">
                        <img src="images/sas-logo.gif" alt="sas"/>
                    </button>
                </h2>
                <div id="collapseSas" class="accordion-collapse collapse" data-bs-parent="#partners-accordian">
                    <div class="accordion-body">
                        SAS is the leader in business intelligence and predictive analytics software. With 31 years experience and 43,000 customer sites worldwide, it can help you manage performance by transforming your data into predictive insights. <a
                        href="https://www.sas.com" target="_blank">www.sas.com</a>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseMicroStrategy" aria-expanded="false" aria-controls="collapseMicroStrategy">
                        <img src="images/microstrategy-logo.gif" alt="MicroStrategy"/>
                    </button>
                </h2>
                <div id="collapseMicroStrategy" class="accordion-collapse collapse" data-bs-parent="#partners-accordian">
                    <div class="accordion-body">
                        MicroStrategy's award-winning application platforms provide clients with robust end-to-end Business Intelligence and CRM solutions for enterprise decision-making. <a
                        href="https://www.microstrategy.com" target="_blank">www.microstrategy.com</a>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseBusinessObjects" aria-expanded="false" aria-controls="collapseBusinessObjects">
                        <img src="images/businessobjects-logo.jpg" alt="Businsess Objects"/>
                    </button>
                </h2>
                <div id="collapseBusinessObjects" class="accordion-collapse collapse" data-bs-parent="#partners-accordian">
                    <div class="accordion-body">
                        Business Objects is the world's leading provider of enterprise business intelligence (BI) solutions. Business Objects enables organizations to track, understand, and manage enterprise performance. The company's solutions leverage the information that is stored in an array of corporate databases, enterprise resource planning (ERP), and customer relationship management (CRM) systems. <a
                        href="https://www.businessobjects.com" target="_blank">www.businessobjects.com</a>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseSun" aria-expanded="false" aria-controls="collapseSun">
                        <img src="images/sun-logo.gif" alt="Sun"/>
                    </button>
                </h2>
                <div id="collapseSun" class="accordion-collapse collapse" data-bs-parent="#partners-accordian">
                    <div class="accordion-body">
                        Since the company's inception in 1982, Sun Microsystems has become a leading provider of industrial-strength hardware, software, and services that power the Net and allow enterprises worldwide to take their businesses to the nth.<a
                        href="https://www.sun.com" target="_blank">www.sun.com</a>
                    </div>
                </div>
            </div>
        </div>
        <br /><br />
    </div>
</div>