<div class="row">
    <div class="col">
        <br /><br />
        <h3><u>Our Partners</u></h3>
        <br />
        <p>NS Tech Solutions Inc., is committed to building relationship with best in class Information Technology solution providers whose products and services complement our own service offerings. We align ourselves with technology leaders through our resourses, which give us the ability to provide you with complete solutions to your IT challenges.</p>
        <table class="table table-light table-striped">
            <tbody>
                <tr>
                    <td><b>Microsoft</b></td>
                    <td>
                        <span>
                            NS Tech Solutions is qualified to respond to your business needs effectively and provide the best solution to your specific situation. This partnership gives us a thorough understanding of Microsoft products and their implementation and thus enables us to help our customers in meeting their specific requirements. <a href="https://www.microsoft.com" target="_blank">www.microsoft.com</a>
                            <p>NS Tech Solutions has converted VB based systems to .NET architecture for its clients</p>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td><b>Lotus Notes</b></td>
                    <td>
                        <span>
                            NS Tech Solutions has on its staff a number of Certified Lotus professionals each of whom have years of experience in developing solutions using the Notes and Domino platforms. 
                            The Cubes Technologies Lotus Domino team provides a full range of services: design, development, integration, implementation, support, maintenance and training. Our professionals have helped dozens of organizations to reinvent how they share and distribute information. 
                            
                            <p>Today we are involved in Lotus Notes and Domino projects and implementations helping our clients extract its full benefit. Working either as part of client implementation teams as the sole integrator, or providing complete offsite application development services, NS Tech Solutions can help your company get the most value out of Lotus Notes and Domino tools. <a href="https://www.lotus.com" target="_blank">www.lotus.com</a></p>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
        <br /><br />
    </div>
</div>