<div class="row">
    <div class="col">
        <br /><br />
        <h3><u>Staffing</u></h3>
        At NS Tech Solutions, we believe that people are our greatest asset. We are dedicated to providing the human
        resources that helps our clients reach their goals. Our dedicated teams of placement professionals work
        tirelessly to locate, and recruit the best talent the IT world has to offer. Our consultants specialize in many
        leading technologies, and their experience spans a number of industry verticals including but not limited to
        Financial Services, Banking, Insurance, Pharmaceuticals, Telecommunications, etc.
        <p></p>
        <p><u>Key Differentiators:</u></p>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>Global Resources:</b> Professional and technical staffing resources who have
                the industry experience and technical knowledge that let them contribute to a project from Day One.
            </li>
            <li class="list-group-item"><b>Flexibility and scalability:</b> Flexible staffing to match the fluctuations
                in your personnel requirements.
            </li>
            <li class="list-group-item"><b>Superior screening and assessment:</b> Quality assessment, testing and
                training for virtually any type of job.
            </li>
            <li class="list-group-item"><b>Training and Education:</b> NS Tech Solutions provides the resources and
                funds for continuing education and re-engineering employee skill sets to match the needs of a changing workplace
            </li>
        </ul>
        <p></p>
        
        <p><u>Consulting Services:</u></p>
        NS Tech Solutions has the strategic vision, recruiting infrastructure, and most importantly, experienced
        technology consultants. Technology staffing requirements at large and mid-market organizations are in a state of
        flux.

        <ul class="list-group list-group-flush">
            <li class="list-group-item">Anticipating Client Demand
                At NS Tech Solutions, recruiting the consultants your organization needs begins even before you talk to
                us. It starts with our stringent recruiting and screening process. We monitor trends in the information
                technology industry to predict client demand for consultants with specific technical capabilities. NS
                Tech Solutions is constantly looking for candidates with business experience that match their technical
                expertise. Most of our consultants have engineering degrees and at least three years of relevant work experience. By
                maintaining a good talent-pool that reflects industry trends, we are able to meet even the most extreme
                demands of our clients. This also gives us the ability to fulfill your requirements without long lead times.
            </li>
            <li class="list-group-item">Consultant Management
                There are several consultant management techniques to ensure the highest quality services for your
                company.
                <ul>
                    <li>We have the ability to build in compensation incentives for consultants, based upon their
                    contribution to specific project goals and milestones.</li>
                    <li>We conduct regular and spot employee appraisals, which compare actual status to performance targets
                    and employees benchmarks suggested by the clients.</li>
                    <li>We conduct regular and spot employee appraisals, which compare actual status to performance targets
                    and employees benchmarks suggested by the clients.</li>
                    <li>We encourage completion of customer satisfaction surveys that ensure that the NS Tech Solutions
                    consultant meets your expectations.</li>
                </ul>
            </li>
            <li class="list-group-item">Training & Education:
                NS Tech Solutions provides the resources, time, and funds for continuing education and professional
                certification to help each consultant stay current in their particular area of expertise.
            </li>
        </ul>
        <p></p>
        <p><u>Recruiting Services:</u></p>
        <p>NS Tech Solutions, Inc. began as a provider of IT consultants and soon developed a reputation for providing
            quality candidates, superior customer service and cost-effective results.</p>

        <p><b>Permanent Placement to Outsourcing of Technical Recruiters</b>
            To meet the requirement that some of our clients have for in-house technical recruiters, NS Tech Solutions
            offers our experienced IT recruiters who can be made available to interested clients on-site or off-site,
            part time or full time to perform as technical recruiters dedicated to that company's entire IT staffing needs.
        </p>

        <p>
            NS Tech Solutions focus is on providing a comprehensive line of technical services ranging from complete IT
            solutions to recruitment and staffing of IT consultants. We carefully evaluate our client's business
            requirements and screen each candidate to ensure that your organization receives the best possible candidate
            for your staffing and recruitment needs.
        </p>

        <p>
            We minimize your risk and efforts by completing a thorough technical evaluation and an in-depth reference
            check, before presenting a candidate to you for consideration.
        </p>

        <p>
            NS Tech Solutions has access to an extensive network of quality IT professionals not only within the US, but
            outside US boundaries, as well. We have strong international channels in place for recruiting quality IT
            talent.
            Give us a call today at 630-724-7950 to find out more about how our IT permanent Recruiting capabilities and
            Technical Recruiters can best serve the specific needs of your company.
        </p>

        <p><u>Skills Inventory:</u></p>

        <p>
            NS Tech Solutions focuses much of its resources on Business Intelligence, Enterprise Client Server, ERP,
            E-Business, and Testing Technologies. Nevertheless, we have a skills/expertise matrix that is comprehensive
            both in its depth and breadth including legacy and current platforms, operating and network operating systems,
            proprietary and open systems architectures and much more.
        </p>

        For more information about any of our consulting or solutions services please contact us at @TBD@

        <table class="table table-light table-striped">
            <tbody>
                <tr>
                    <td>Cloud Technology</td>
                    <td>Electronic Circuit Programming</td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li>Microsoft Azure</li>
                            <li>AWS</li>
                            <li>Google Cloud</li>
                            <li>IBM Cloud</li>
                            <li>IaaS</li>
                            <li>PaaS</li>
                            <li>SaaS</li>
                            <li>SalesForce</li>
                            <li>VMware</li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li>DSP</li>
                            <li>ASIC</li>
                            <li>Embedded</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>Data Warehousing</td>
                    <td>Web Application Architecture</td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li>Cognos</li>
                            <li>Informatica</li>
                            <li>Business Objects</li>
                            <li>Data Stage Ascential</li>
                            <li>MicroStrategy</li>
                            <li>SAS</li>
                            <li>Erwin</li>
                            <li>Ab-initio</li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li>Java,JavaBeans,JFC,JDBC,RMI,</li>
                            <li>CORBA.JavaScript,</li>
                            <li>HTML,DHTML,XML,XSL.Perl,CGI-BIN.</li>
                            <li>Data Stage Ascential</li>
                            <li>Active-X,ASP,MTS,MS/MQ.</li>
                            <li>Cold Fusion</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>ERP</td>
                    <td>System & Network Administration</td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li>Oracle Financials/Manufacturing</li>
                            <li>People Soft</li>
                            <li>SAP</li>
                            <li>JD Edwards</li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li>Unix Sun,AIX,HP,</li>
                            <li>Windows NT,Windows 95/98/2000</li>
                            <li>Routers/Firewalls/Hubs/Switches</li>
                            <li>Novell NetWare</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>Systems Management</td>
                    <td>RDBMS</td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li>Unicenter</li>
                            <li>Arc Serve</li>
                            <li>HP Openview</li>
                            <li>Veritas</li>
                            <li>Open View</li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li>Oracle/SQL/Forms/Pro*C/Reportwriter</li>
                            <li>Sybase/DBLib,CTLib/APT-Workbench</li>
                            <li>Informix/Unix/C/Informix4GL</li>
                            <li>MS-SQLServer/IB MUDB</li>
                            <li>DBA(Oracle/Sybase/Informix/DB2)</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>Client-Server/OO Development</td>
                    <td>Testing Technologies</td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li>Client-Server/OO Development</li>
                            <li>C/C++/Unix/RDBMS</li>
                            <li>VisualBasic/COM/DCOM/MTS/ASP</li>
                            <li>VisualC++/COM/DCOM/Active-Xs</li>
                            <li>Java/Smalltalk/VisualAge</li>
                            <li>Developer 2000/Designer 2000</li>
                            <li>Powerbuilder/SQLWindows/Centura</li>
                            <li>Rational Rose</li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li>Mercury Suite- QT Pro, WinRunner, Load Runner, Quality Center</li>
                            <li> Rational Suite</li>
                            <li>Empirix</li>
                            <li>Silk Suite</li>
                            <li>Novell NetWare</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>Legacy Systems</td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li>CICS/COBOL/VSAM/DB2</li>
                            <li>FOCUS</li>
                            <li>Assembler</li>
                            <li>vCICS</li>
                            <li>Microfocus COBOL/CICS/IMS/DB2/</li>
                            <li>PL1/VSAM/DL1/CLIST/EASYTRIEVE/</li>
                            <li>Cobol,TAL</li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
        <br /><br />
    </div>
</div>